streamlit==1.30.0
pandas>=2.2.0          # needed for NumPy 2.0 compatibility
numpy>=2.0.0,<3.0.0
scikit-learn==1.7.2
joblib==1.3.2
matplotlib>=3.8.0      # optional, but might need update
seaborn>=0.13.0